<div class="jumbotron" align="center">
  <h1 class="display-3"><%= project_name %>!</h1>
  <p class="lead">Prototyping your server-side project made easy</p>
  <hr class="my-4">
  <p><%= project_name %> is a tool for prototyping and sharing server-side projects compatible with Docker technology! <%= project_name %> is an on-going project. Hence, there might be interesting features that have not yet been implemented, or even unexpected behavior.</p>
</div>

<div class="row">
    <div class="col-lg-11">
        <h2>Frameworks</h2>
        <div class="form-group">
            <input class="form-control form-control-lg" type="text" placeholder="Filter..." id="filtertxt">
        </div>
    </div>
</div>

<div class="col-lg-12">
    <div class="row">
        <a href="/create">
            <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Empty</h4>
                    <ul>
                        <li>Language: N/A</li>
                        <li>Database: None</li>
                        <li>Template Engine: None </li>
                    </ul>
                </div>
            </div>
        </a>
        <a href="/ef670248-3470-40cd-ab9d-747c699ba8e5">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Express.js</h4>
                    <ul>
                        <li>Node.js: 6.9.5</li>
                        <li>Database: None</li>
                        <li>Template Engine: None </li>
                    </ul>
                </div>
            </div>
        </a>
        <a href="/baa51d11-bd4d-413d-bf79-c201171026f1">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Express.js</h4>
                    <ul>
                        <li>Node.js: 6.9.5</li>
                        <li>Database: None</li>
                        <li>Template Engine: Jade </li>
                    </ul>
                </div>
            </div>
        </a>
        <a href="/a402d251-7f7b-411e-bbd5-92a8b6f39650">
            <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Rails 5</h4>
                    <ul>
                        <li>Ruby: 2.5.3</li>
                        <li>Database: SQLite 3</li>
                        <li>Template Engine:  ERB </li>
                    </ul>
                </div>
            </div>
        </a>
        <a href="/294ac2bb-bea5-4df7-9822-0b39cade2d04">
            <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Rails 5</h4>
                    <ul>
                        <li>Ruby: 2.5.3</li>
                        <li>Database: None</li>
                        <li>Template Engine:  ERB</li>
                    </ul>
                </div>
            </div>
        </a>
        <a href="/38281a4f-effa-4e6a-8ed7-b1b5fbea6972">
            <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Django</h4>
                    <ul>
                        <li>Python: 3</li>
                        <li>Database: Postgres</li>
                        <li>Template Engine: None</li>
                    </ul>
                </div>
            </div>
        </a>
        <a href="/4c33d028-4ead-422e-9cbc-49ecdf8edb0e">
            <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Flask</h4>
                    <ul>
                        <li>Python: 3</li>
                        <li>Database: None</li>
                        <li>Template Engine: None</li>
                    </ul>
                </div>
            </div>
        </a>
        <a href="/b132dae2-8e31-4df6-8137-276a0614dba1">
            <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Flask</h4>
                    <ul>
                        <li>Python: 3</li>
                        <li>Database: SQlite 3</li>
                        <li>Template Engine: Native</li>
                    </ul>
                </div>
            </div>
        </a>
        <a href="/3f2069a7-c42e-4947-a9e7-491ad6e0418b">
            <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Flask</h4>
                    <ul>
                        <li>Python: 3</li>
                        <li>Database: None</li>
                        <li>Template Engine: Native</li>
                    </ul>
                </div>
            </div>
        </a>
    </div>
</div>
